table.table
  each item in list
    tr
      if checkType
        td
          input(type=checkType, name=name + "[]", checked=item.checked, value=item.id)
      td= item.value
      if buttons
        each button in buttons
          td
            - var attributes = {class: button.class}
            if (button.name)
              - attributes["data-"+button.name]=true
            a&attributes(attributes)
              if button.icon
                span(class=button.icon)
              = button.caption